<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台 - 嘿嘿API</title>
    <link rel="stylesheet" href="__PUBLIC__/static/layui-v2.1.2/css/layui.css">
    <script src="__PUBLIC__/static/layui-v2.1.2/layui.js"></script>
</head>
<body>
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">嘿嘿API</div>
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layui-this"><a href="#">控制台</a></li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
          <img src="__PUBLIC__/static/image/default.jpg" class="layui-nav-img">
          {$user.name}
        </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a id="logout">注销</a></li>
            </ul>
        </div>
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item"><a href="/index/index/app_home">首页</a></li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">所有应用</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/index/index/app_insert">添加应用</a></dd>
                            <dd><a href="/index/index/app_list">应用管理</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-body" style="padding: 20px 20px;">
            {__CONTENT__}
        </div>
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © api.pixelgm.com
    </div>
    </div>
    
    <script>
    layui.use(['element','jquery','layer'], function() {
        var element = layui.element;
        var $ = layui.$;

        $('#logout').click(function(){
            $.get('/index/user/user_logout',function(x){
                var data = JSON.parse(x);
                if(data.code!=200){
                    layer.alert(data.msg,{icon:2});
                }else{
                    layer.alert(data.msg,{icon:1},function(){
                        location.href="/index/index/index";
                    });
                }
            });
            
        });
    });
    </script>
</body>

</html>