<!DOCTYPE html>
<html>
<head>
<title>注册 - 嘿嘿API</title>
<link href="__PUBLIC__/static/css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="__PUBLIC__/static/layui-v2.1.2/css/layui.css">
<script src="__PUBLIC__/static/layui-v2.1.2/layui.js"></script>
</script>
</head>
<body>
		<div class="app-location" style="margin-top:40px;">
			<h2>诸恶到嘿嘿API</h2>
			<div class="line"><span></span></div>
			<div class="location"><img src="__PUBLIC__/static/images/location.png" class="img-responsive" alt="" /></div>
			<form>
				<input type="text" name="name" class="text" placeholder="请输入你的用户名">
				<input type="password" name="password" placeholder="请输入你的密码">
                <input type="password" name="againpassword" placeholder="请再次输入你的密码">
                <input type="text" name="email" class="text" placeholder="请输入你的邮箱">
				<div class="submit"><input type="submit" value="注册" ></div>
				<div class="clear"></div>
				<div class="new">
					<h4><a href="/index/index/login">登陆</a></h4>
					<div class="clear"></div>
				</div>
			</form>
		</div>
</body>
<script type="text/javascript">
layui.use(['layer','jquery'],function(){
    var $ = layui.$;
    var layer = layui.layer;

    $('form').submit(function(){
        $.post('/index/user/user_insert',$(this).serialize(),function(x){
            var data = JSON.parse(x);
            if(data.code !=200){
                layer.alert(data.msg, {icon: 2});
            }else{
                layer.alert(data.msg, {icon: 1},function(){
                    location.href="/index/index/login";
                });
            }
        });
        return false;
    });
});
</script>
</html>